@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Varela&display=swap');

:root {
    --primary-foreground: white;
    --primary-background: #E0142F;
    --secondary-background: #23232a;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}